*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0rem 2rem;
}

li{
    list-style: none;
}

a{
    color:#fff;
    text-decoration: none;
}